{% extends 'base.html.twig' %}

{% block body %}
<h1>Register</h1>

<form method="post" action="{{ path('app_register') }}">

    <label>name:</label>
    <label>
        <input type="text" name="name" required>
    </label>
    <label>Email:</label>
    <label>
        <input type="email" name="email" required>
    </label>

    <label>Password:</label>
    <label>
        <input type="password" name="password" required>
    </label>

    <button type="submit">Register</button>
</form>
{% endblock %}
