{% extends 'base.html.twig' %}
{% block title %}Hello BankAccountController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <p>Site: {{ site_name}}</p>

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/joan/my_project/src/Controller/BankAccountController.php</code></li>
        <li>Your template at <code>/home/joan/my_project/templates/bank_account/index.html.twig</code></li>
    </ul>
    <label for="iBAN">Insert Account IBAN</label>
    <input id="iBAN" type="text">
    <input type="button" value="Validate" id="sendBtn">
    <div id="response"></div>

</div>
{% endblock %}
