{% if users is not empty %}
        {% for user in users %}
            <div>
            <button onclick="addJobTaskAdmin({{ jobTaskId }}, {{ user.id }})" type="button"  id="add-admin-button" class="btn btn-outline-primary" >
                {{ user.name }} ({{ user.email }})
            </button>
            </div>
         {% endfor %}
{% else %}
    <p class="text-muted">Your cart is empty.</p>
{% endif %}

